.about-info {
  text-align: center;
  width: 100%;
  height: 100vh;
  margin-top: 20px;
}
.about-info .ttle {
  font-size: 3rem;
  color: #273138;
}
.about-info hr {
  width: 15%;
  background: #bda643;
  border: #bda643 solid 1px;
}
.about-info div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.about-info div p {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.about-info div p img {
  width: 250rem;
}
