footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #273138;
  height: 50vh;
}
footer div.footer-menu nav ul li {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
footer div.footer-menu nav ul li a {
  color: white;
  text-decoration: none;
  text-align: center;
}
footer div.social-ctn {
  display: flex;
  flex-flow: column;
  text-align: center;
}
footer div.social-ctn img.footer-logo {
  width: 70%;
  margin-bottom: 30px;
}
footer div.social-ctn div.social-links {
  margin-bottom: 30px;
}
footer div.social-ctn div.social-links a {
  color: white;
}
footer div.social-ctn div.social-links a i {
  font-size: 2rem;
  margin: 0 10px;
}
footer div.social-ctn a {
  color: white;
}
footer div.misc {
  display: flex;
  flex-flow: column;
  text-align: center;
}
footer div.misc a {
  color: white;
  margin-bottom: 30px;
  text-decoration: none;
  text-align: center;
}
