.team-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 90px;
}
.team-info .scale {
  width: 15%;
}
.team-info h3.ttle {
  font-size: 3rem;
  color: #273138;
}
.team-info h4 {
  font-size: 2rem;
  color: #273138;
  text-align: center;
}
.team-info hr {
  width: 15%;
  background: #bda643;
  border: #bda643 solid 1px;
}
.team-info p {
  width: 50%;
  text-align: center;
  line-height: 3rem;
}
.team-info div.team-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 80px 50px;
}
.team-info div.team-container div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.team-info div.team-container div img.img-display {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.team-info div.team-container h5 {
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 10px;
}
.team-info button {
  border: 1px solid #273138;
  width: 25%;
  height: 2rem;
  font-size: 1rem;
}
.team-info button:hover {
  background-color: #273138;
  color: white;
  cursor: pointer;
}
