/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
}
.hamburger {
  display: none;
}
@media (max-width: 1100px) {
  .hamburger {
    display: inline-block;
    z-index: 50;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
.hamburger .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #ffffff;
  transition: all 0.7s ease-out;
}
.hamburger.close {
  transform: rotate(180deg);
}
.hamburger.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.close .btn-line:nth-child(2) {
  opacity: 0;
}
.hamburger.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  visibility: hidden;
}
.menu.showing {
  visibility: visible;
  z-index: 3;
  display: flex;
}
.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #324959;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.7s ease-out;
}
.menu-nav a {
  display: flex;
  justify-content: center;
}
@media (max-width: 700px) {
  .menu-nav a {
    width: 100%;
  }
}
.menu-nav a img {
  width: 70%;
}
.menu-nav.showing {
  transform: translate3d(0, 0, 0);
  z-index: 2;
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.7s ease-out;
}
.menu .nav-item.showing {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: #3997D9;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #ffffff;
  transition: all 0.7s ease-out;
}
.menu .nav-link:hover {
  filter: invert(50%);
  transition: all 0.7s ease-out;
}
.menu .nav-link {
  text-decoration: none;
}
.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}
.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}
.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}
.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}
header {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  margin-bottom: 10%;
}
header section {
  z-index: 2;
  margin: auto;
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
header section .sub-text {
  display: inline-block;
  padding: 3px 10px;
  background-color: #3997D9;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
header section h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 100px;
  text-align: center;
  z-index: 2;
  color: #ffffff;
}
@media (max-width: 700px) {
  header section h1 {
    font-size: 3rem;
  }
}
@media (max-width: 700px) {
  header section h1 i.fa,
  header section h1 i.fas {
    display: none;
  }
}
header section p {
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  z-index: 2;
  line-height: 2;
}
header section i {
  font-size: 5px;
  z-index: 2;
}
header .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  height: 25%;
}
@media (max-width: 700px) {
  header .btn-container {
    justify-content: space-evenly;
    flex-flow: column;
    margin-bottom: 100px;
  }
}
header .btn-container a.header-btn {
  text-decoration: none;
  text-align: center;
  border: none;
  height: 25%;
  z-index: 2;
  cursor: pointer;
}
header .btn-container a.header-btn div.read-btn {
  margin-right: 10px;
  height: 60%;
  z-index: 2;
  padding: 12px 40px;
  background: white;
  color: #3997D9;
  cursor: pointer;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  transition: background-color 400ms ease;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  header .btn-container a.header-btn div.read-btn {
    margin-right: 0px;
  }
}
header .btn-container a.header-btn div.contact-btn {
  height: 60%;
  z-index: 2;
  padding: 12px 40px;
  background: #3997D9;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  transition: background-color 400ms ease;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
header .btn-container a.header-btn div.read-btn:hover {
  background: #2B73A6;
  color: white;
}
header .btn-container a.header-btn div.contact-btn:hover {
  background: #2B73A6;
  color: white;
}
header .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  header .bg {
    width: 100%;
  }
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
nav.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  font-family: 'DM Sans', sans-serif;
  background: rgba(255, 255, 255, 0.705);
  position: fixed;
  width: 100%;
}
@media (max-width: 1100px) {
  nav.navigation {
    display: none;
  }
}
nav.navigation .logo-container {
  width: 10%;
  margin-left: 5%;
}
nav.navigation .logo-container .logo {
  width: 100%;
  margin: auto;
  height: 100%;
}
nav.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}
nav.navigation ul li {
  margin: auto 0;
  padding-right: 60px;
  z-index: 2;
}
nav.navigation ul li a {
  text-decoration: none;
  z-index: 2;
  color: #324959;
}
nav.navigation ul li a.current {
  color: #3997D9;
}
nav.navigation ul li a:hover {
  color: #3997D9;
  transition: all ease-in;
}
footer {
  background: #173E59;
  color: #81a6c0;
}
footer div.footer-container {
  display: flex;
  flex-flow: row;
}
@media (max-width: 700px) {
  footer div.footer-container {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
footer div.footer-container section {
  border-right: solid #324959 1px;
  width: 33.3%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding-left: 25px;
  padding-top: 25px;
  line-height: 2rem;
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  footer div.footer-container section {
    width: 100%;
    justify-content: center;
    border-right: 0px;
    align-items: center;
    text-align: center;
    padding-left: 0px;
  }
}
footer div.footer-container section h5 {
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 1rem;
  color: #ffffff;
}
footer div.footer-container section.footer-about-us p {
  line-height: 1rem;
  padding-right: 20px;
}
@media (max-width: 700px) {
  footer div.footer-container section.footer-about-us p {
    padding-left: 20px;
  }
}
footer div.footer-container section.footer-nav .footer-menu .footer-menu-nav li a {
  text-decoration: none;
  color: #81a6c0;
}
section.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
  font-family: 'DM Sans', sans-serif;
}
section.info .scale {
  width: 30%;
}
@media (max-width: 700px) {
  section.info .scale {
    width: 100%;
  }
}
section.info p.affirm {
  color: #3997D9;
  text-transform: uppercase;
  font-size: medium;
}
@media (max-width: 700px) {
  section.info p.affirm {
    font-size: 0.7rem;
  }
}
section.info h3.ttle {
  font-size: 3rem;
  color: #273138;
  text-transform: uppercase;
  margin-bottom: 3%;
}
@media (max-width: 700px) {
  section.info h3.ttle {
    font-size: 2rem;
    margin-top: 5%;
  }
}
section.info h4 {
  font-size: 1rem;
  font-weight: 900;
  color: #273138;
  text-align: center;
}
section.info hr {
  width: 15%;
  background: #3997D9;
  border: #3997D9 solid 1px;
  margin-bottom: 3%;
}
section.info p {
  width: 50%;
  text-align: center;
  line-height: 1.3rem;
  color: #273138;
}
section.info div.img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  margin: 80px 50px;
}
@media (max-width: 700px) {
  section.info div.img-container {
    grid-template-columns: 1fr;
    margin: 0px 0px;
  }
}
section.info div.img-container div {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
  padding: 20px;
  height: auto;
}
@media (max-width: 700px) {
  section.info div.img-container div {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 0px;
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
}
section.info div.img-container div img.img-display {
  height: 80px;
  margin-right: 20px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
section.info div.img-container div div.service-description {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  margin-bottom: 0px;
  padding: 0px;
}
@media (max-width: 700px) {
  section.info div.img-container div div.service-description {
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
  }
}
section.info div.img-container div div.service-description h4.service-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;
}
section.info div.img-container div div.service-description p.service {
  text-align: start;
}
section.info div.img-container div.service-container:hover > img.img-display {
  transform: translateY(-10%);
}
section.info div.mission {
  background: rgba(125, 182, 223, 0.2);
  display: flex;
  padding: 120px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 700px) {
  section.info div.mission {
    padding: 0px 0px;
  }
}
section.info div.mission .mission-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
section.info div.mission .mission-section .mission-container::before {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
section.info div.mission .mission-section .mission-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 700px) {
  section.info div.mission .mission-section .mission-container {
    align-items: center;
    flex-flow: column-reverse;
    padding-bottom: 20px;
  }
}
section.info div.mission .mission-section .mission-container .mission-copy {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 60px;
  padding-right: 10px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
@media (max-width: 700px) {
  section.info div.mission .mission-section .mission-container .mission-copy {
    float: none;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1rem;
  }
}
section.info div.mission .mission-section .mission-container .mission-copy h4 {
  font-size: 3rem;
  margin-bottom: 3%;
}
@media (max-width: 700px) {
  section.info div.mission .mission-section .mission-container .mission-copy h4 {
    font-size: 2rem;
  }
}
section.info div.mission .mission-section .mission-container .mission-copy hr {
  margin: 6% 9%;
}
section.info div.mission .mission-section .mission-container .mission-copy p {
  line-height: 1.6;
  text-align: left;
  margin-bottom: 5%;
}
@media (max-width: 700px) {
  section.info div.mission .mission-section .mission-container .mission-copy p {
    width: 85%;
    text-align: center;
  }
}
section.info div.mission .mission-section .mission-container .mission-copy li {
  list-style: inside;
  line-height: 1.5;
  color: #273138;
}
section.info div.mission .mission-section .mission-container .mission-image-container {
  border-radius: 5%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
@media (max-width: 700px) {
  section.info div.mission .mission-section .mission-container .mission-image-container {
    width: 70%;
    height: 250px;
  }
}
section.info div.mission .mission-section .mission-container .mission-image-container .mission-image img {
  width: 100%;
  animation: upDown;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
section.info .reviews {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
section.info .reviews .reviews-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  height: 600px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #d9dcec;
  background: url("../images/globe.png");
  background-color: transparent;
  background-blend-mode: screen;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 700px) {
  section.info .reviews .reviews-container {
    width: 200px;
    height: 600px;
  }
}
section.info .reviews .reviews-container .reviews-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  height: 500px;
  margin: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  color: #3997D9;
  font-size: 34px;
  line-height: 2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
section.info .reviews .reviews-container .reviews-copy h1 {
  font-size: 0.7rem;
}
section.info .reviews .reviews-container .reviews-copy p {
  line-height: 2.4rem;
}
@media (max-width: 700px) {
  section.info .reviews .reviews-container .reviews-copy p {
    font-size: 1rem;
  }
}
section.info .reviews .reviews-container .review-images {
  position: absolute;
  left: -10%;
  top: -10%;
  right: auto;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
}
@media (max-width: 700px) {
  section.info .reviews .reviews-container .review-images {
    display: none;
  }
}
section.info .reviews .reviews-container .review-images .customer-image {
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 1px solid #d7d5ff;
  border-radius: 10px;
  background-color: transparent;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
section.info .reviews .reviews-container .review-images .customer-image p {
  width: 100%;
}
section.info .reviews .reviews-container .review-images .customer-image p.qr {
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}
section.info .reviews .reviews-container .review-images .customer-image:hover {
  opacity: 0.5;
}
section.info .reviews .reviews-container .review-images .customer-image:hover p.qr {
  visibility: visible;
}
section.info .reviews .reviews-container .review-images .customer-1 {
  background: url("../images/customer1.jpg");
  background-size: cover;
  background-position: center;
}
section.info .reviews .reviews-container .review-images .customer-2 {
  background: url("../images/customer2.jpg");
  background-size: cover;
  background-position: center;
}
section.info .reviews .reviews-container .review-images .customer-3 {
  background: url("../images/cutsomer3.jpg");
  background-size: cover;
  background-position: center;
}
section.info .reviews .reviews-container .review-images .customer-4 {
  background: url("../images/cutsomer4.jpg");
  background-size: cover;
  background-position: center;
}
section.info .reviews .reviews-container .two {
  left: auto;
  top: -10%;
  right: -10%;
}
section.info .reviews .reviews-container .three {
  left: -10%;
  top: auto;
  bottom: -10%;
}
section.info .reviews .reviews-container .four {
  left: auto;
  top: auto;
  right: -10%;
  bottom: -10%;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #173E59;
  color: white;
  height: 50px;
  width: 100%;
  text-align: center;
}
@media (max-width: 700px) {
  .copyright {
    font-size: 0.5rem;
  }
}
@-webkit-keyframes upDown {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-5%);
  }
  40% {
    transform: translateY(-10%);
  }
  60% {
    transform: translateY(5%);
  }
  80% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-moz-keyframes upDown {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-5%);
  }
  40% {
    transform: translateY(-10%);
  }
  60% {
    transform: translateY(5%);
  }
  80% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes upDown {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-5%);
  }
  40% {
    transform: translateY(-10%);
  }
  60% {
    transform: translateY(5%);
  }
  80% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
.about-info {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 150px;
}
.about-info .ttle {
  font-size: 3rem;
  color: #273138;
}
@media (max-width: 700px) {
  .about-info .ttle {
    font-size: 2rem;
  }
}
.about-info hr {
  width: 15%;
  background: #3997D9;
  border: #3997D9 solid 1px;
}
.about-info div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
@media (max-width: 700px) {
  .about-info div {
    display: inline-block;
  }
}
.about-info div img {
  width: 30%;
  margin: 10px auto;
}
.about-info div .mission {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}
.about-info div .mission div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
.about-info div .mission div h1 {
  font-size: 2rem;
  margin-bottom: 5%;
  color: #3997D9;
}
.about-info div .mission div p {
  padding-left: 450px;
  padding-right: 450px;
  color: #273138;
}
@media (max-width: 700px) {
  .about-info div .mission div p {
    padding-left: 0px;
    padding-right: 0px;
    line-height: 2;
  }
}
.about-info div .purpose {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.about-info div .purpose div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.about-info div .purpose div h1 {
  font-size: 2rem;
  margin-bottom: 5%;
  color: #3997D9;
  text-align: center;
}
.about-info div .purpose div p {
  padding-left: 200px;
  padding-right: 200px;
  color: #273138;
}
@media (max-width: 700px) {
  .about-info div .purpose div p {
    padding-left: 0px;
    padding-right: 0px;
    line-height: 2;
  }
}
.about-info div .purpose .skillsets {
  display: flex;
  flex-flow: row wrap;
}
.about-info div .purpose .skillsets div.skillset-container {
  width: 50%;
}
.about-info div .purpose .skillsets div.skillset-container h5 {
  color: #273138;
  font-weight: 800;
}
.about-info div .purpose .skillsets div.skillset-container span {
  color: #3997D9;
  margin-top: 20px;
}
.about-info div .purpose .skillsets div.skillset-container .individual-skill {
  height: 8px;
  background-color: lightgray;
  align-items: flex-start;
  width: 70%;
  margin-top: 20px;
}
.about-info div .purpose .skillsets div.skillset-container .individual-skill .one {
  height: 8px;
  background-color: #3997D9;
  width: 85%;
  margin-top: 0px;
}
.about-info div .purpose .skillsets div.skillset-container .individual-skill .two {
  height: 8px;
  background-color: #3997D9;
  width: 90%;
  margin-top: 0px;
}
.about-info div .purpose .skillsets div.skillset-container .individual-skill .three {
  height: 8px;
  background-color: #3997D9;
  width: 85%;
  margin-top: 0px;
}
.about-info div .purpose .skillsets div.skillset-container .individual-skill .four {
  height: 8px;
  background-color: #3997D9;
  width: 95%;
  margin-top: 0px;
}
.team-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.team-info h3.ttle {
  font-size: 3rem;
  color: #273138;
}
@media (max-width: 700px) {
  .team-info h3.ttle {
    font-size: 2rem;
  }
}
.team-info h4 {
  font-size: 2rem;
  color: #273138;
  text-align: center;
}
.team-info hr {
  width: 15%;
  background: #7DB6DF;
  border: #7DB6DF solid 1px;
}
.employees {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .employees {
    flex-flow: column;
  }
}
.team-card {
  position: relative;
  width: 360px;
  height: 400px;
  background: #000;
  margin: 50px 50px;
}
@media (max-width: 700px) {
  .team-card {
    width: 75%;
    height: 80%;
  }
}
.team-card .team-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.team-card .team-image img {
  width: 100%;
  transition: 0.5s;
}
.team-card:hover .team-image img {
  opacity: 0.5;
  transform: translateX(30%);
  /*100%*/
}
.team-card .team-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  /*100%*/
  height: 100%;
  background: #7DB6DF;
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.team-card:hover .team-details {
  transform: perspective(2000px) rotateY(0deg);
}
.team-card .team-details .team-center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.team-card .team-details .team-center h1 {
  margin: 0;
  padding: 0;
  color: #273138;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.team-card .team-details .team-center h1 span {
  font-size: 14px;
  color: #262626;
}
.team-card .team-details .team-center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}
.team-card .team-details .team-center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}
@media (max-width: 1100px) {
  .team-card .team-details .team-center ul {
    display: flex;
    flex-flow: row;
  }
}
.team-card .team-details .team-center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}
.team-card .team-details .team-center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: 0.5s;
}
.team-card .team-details .team-center ul li a:hover {
  background: #2B73A6;
}
* {
  transition: all 0.3s ease-out;
}
.tab-content-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 100px;
  height: 1000px;
}
@media (max-width: 700px) {
  .tab-content-item {
    height: initial;
  }
}
#info-1-content,
#info-2-content,
#info-3-content,
#info-4-content,
#info-5-content,
#info-6-content,
#info-7-content,
#info-8-content,
#info-9-content {
  display: none;
}
.show {
  display: flex !important;
  grid-template-columns: repeat(2, 1fr);
}
.showInfo {
  display: grid !important;
  line-height: 1.5;
  padding-right: 25px;
}
@media (max-width: 700px) {
  .showInfo {
    padding-right: 0px;
  }
}
.text-xl {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: black;
}
.text-md {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-dark {
  color: #999;
  padding: 0 100px;
}
@media (max-width: 700px) {
  .text-dark {
    padding: 0px 0px;
  }
}
.text-alignment {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  line-height: 3rem;
  height: 100%;
  margin: auto;
  width: 75%;
  margin-bottom: 100px;
}
@media (max-width: 700px) {
  .text-alignment {
    margin-bottom: 0px;
  }
}
.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  width: 50%;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 60px;
}
@media (max-width: 700px) {
  .info-item {
    margin-bottom: 150px;
  }
}
.info-item p {
  width: 280px;
  font-size: 13px;
  line-height: 1.4;
  color: #aaa;
  margin: 20px 0;
}
.info-item h1 {
  color: #324959;
  font-size: 3rem;
  font-weight: 900;
}
.info-item hr {
  width: 15%;
  background: #3997D9;
  border: #3997D9 solid 1px;
  margin-bottom: 3%;
}
.info-item .button {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.info-item .button a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-size: 11px;
  color: #111;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #aaa;
  font-weight: bold;
}
.info-item .button a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0%;
  background: #324959;
  height: 100%;
  z-index: -1;
  transition: width 0.3s ease-in-out;
  transform: skew(-25deg);
  transform-origin: right;
}
.info-item .button a:hover:after {
  width: 150%;
  left: -10px;
  transform-origin: left;
}
.info-item .button a:hover {
  color: #fff;
  transition: all 0.5s ease;
}
.info-item .button a:nth-of-type(1) {
  border-radius: 50px 0 0 50px;
  border-right: none;
}
.info-item .button a:nth-of-type(2) {
  border-radius: 0px 50px 50px 0;
}
.info-tab {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.info-tab .card {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}
.info-tab .card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #3997D9;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.info-tab .card h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}
.info-tab .card p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
}
.info-tab .card p.small {
  font-size: 14px;
}
.info-tab .card .corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #3997D9;
  border-radius: 0 4px 0 32px;
}
.info-tab .card .arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}
.info-tab .card:hover:before {
  transform: scale(21);
}
.info-tab .card:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.info-tab .card:hover h3 {
  transition: all 0.3s ease-out;
  color: #ffffff;
}
.info-select {
  color: black;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin-bottom: 100px;
}
@media (max-width: 700px) {
  .info-select {
    grid-gap: 0px;
    grid-template-columns: 1fr;
  }
}
.info-border {
  border-bottom: 4px solid black;
}
.info-description {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.info-image {
  width: 50%;
  margin: auto;
}
.contact-mini-header {
  display: flex;
  flex-flow: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'DM Sans', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #324959;
}
.contact-mini-header hr {
  width: 15%;
  background: #3997D9;
  border: #3997D9 solid 1px;
  margin-bottom: 3%;
}
@media (max-width: 700px) {
  .contact-mini-header h1 {
    font-size: 2rem;
    text-align: center;
  }
}
.contact-form {
  width: 740px;
  height: 540px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  position: relative;
}
.contact-form h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}
.contact-form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
.contact-form input:focus {
  border-bottom: 2px solid #78788c;
}
.contact-form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
.contact-form button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
.contact-form button:hover {
  background: #78788c;
  color: #fff;
}
.contact-form div {
  content: 'Hi';
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}
@media (max-width: 700px) {
  .contact-form div {
    display: none;
  }
}
.contact-form span {
  margin: 0 5px 0 15px;
}
